body {
    background: url('../images/beer3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron{
    /* background: url('../images/clouds.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-color: rgba(0,0,0,0.1);
    color: white;
}

table{
    color: white;
    margin-top: 150px;
    font-size: 18px;
}

nav{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    align-content: center;
}

.nav-item{
    margin-left: 10px;
    font-size: 36px;
    color: saddlebrown;
    font-family: Futura;
    text-decoration: underline;
}


.input-group{
    float: left;
    margin-left: 300px;
}

#brewery-div {
    background-color: rgba(253,245,230,0.8);
    margin-top: 30px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
}