body {
    background: url('../images/beer3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    background-color: rgba(0,0,0,0.1);
    color: white;
}

table {
    color: white;
    margin-top: 150px;
    font-size: 18px;
}

nav {
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    align-content: center;
}

.nav-item {
    margin-left: 10px;
    font-size: 36px;
    color: saddlebrown;
    font-family: Futura;
    text-decoration: underline;
}
.contact .staff-img {
    width: 230px;
    height: 230px;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 20px;
    display: table;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }

.input-group{
    float: left;
    margin-left: 300px;
}

#brewerys {
    background-color: rgba(253,245,230,0.8);
    margin-top: 30px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
}

.contact {
    margin-top: 20px;
    color: white;
    font-weight: bold;
}

.social li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
    
.contact .social {
    margin: 30px 0 0 0;
    padding: 0;
    font-size: 14px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
}

h3{
color:white;
}